<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra</title>
    <base href="/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/theme.css">
    <link rel="stylesheet" href="/toaster.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <%- include ('headers')-%>
    <%-include('toaster')-%>
    <section class="find-section">

        <div class="find-desktop">
            <h1>Find Affordable Healthcare</h1>
            <p class="subhead">
                Join the thousands of others who have exercised their right to quality healthcare at a price you can
                afford.
            </p>
        </div>
        <div class="form-grid">
            <form action="/filterDoc" method="post">
                <div class="location input">
                    <i class="fas fa-map-marker-alt"></i>
                    <input type="text" onkeyup="searchCity(this.value)" name="city" id="location"
                        placeholder="Ahmadabad" autocomplete="off" />
                    <i class="fas fa-crosshairs" onclick="findCity(this)"></i>
                    <div class="listContainer">
                        <ul class="cityResult" id="CityList">
                            <% for(var i=0;i<user.searchCity.length;i++){%>
                            <li onclick="loadCity(this)"><span
                                    class="searchCityValue"><%=user.searchCity[i][Object.keys(user.searchCity[i])]%></span>
                                <span class="title"><%=Object.keys(user.searchCity[i])%></span>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                </div>

                <input type="text" onkeyup="searchValue(this.value)" name="specification" id="specification"
                    placeholder="Search for doctors,hospitals and treatments.">

                <button type="submit">Search</button>
                <div class="listContainer">
                    <ul class="searchResult" id="searchList">
                        <% for(var i=0;i<user.allSearchData.length;i++){%>
                        <li onclick="loadData(this)"><span
                                class="searchDataValue"><%=user.allSearchData[i][Object.keys(user.allSearchData[i])]%></span>
                            <span class="title"><%=Object.keys(user.allSearchData[i])%></span>
                        </li>
                        <% } %>
                    </ul>
                </div>

            </form>
        </div>

    </section>
    <div class="details">
        <h2>
            How it works
        </h2>
        <p>
            Various facilities are provided here. But there is a protocol which needs to be followed so that you may get
            the services at its best.
        </p>
        <div class="buttons">
            <a href="#" class="link-btn btn1 active-btn" id="fix">
                <label class="number">01</label>
                <label>Fix Consultation</label>
            </a>
            <div class="detail-block" id="fix-block">
                <div class="detail-contents">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.png" alt="">
                    <h3>Fix Consultation</h3>
                    <p>This depicts that user will have to fix appointment first when it selects a particular doctor</p>
                </div>
            </div>

            <a href="#" class="link-btn btn2" id="reports">
                <label class="number">02</label>
                <label>Upload Medical Reports</label>
            </a>
            <div class="detail-block hide-block" id="reports-block">
                <div class="detail-contents">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img2.png" alt="">
                    <h3>Upload Medical Reports</h3>
                    <p>This depicts that medical reports of a patient must be uploaded to keep it up to date</p>
                </div>
            </div>

            <a href="#" class="link-btn btn3" id="consult">
                <label class="number">03</label>
                <label>Consult with doctor</label>
            </a>
            <div class="detail-block hide-block" id="consult-block">
                <div class="detail-contents">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img3.jpeg" alt="">
                    <h3>Consult with doctor</h3>
                    <p>A patient can consult with doctors to know what needs to be done.</p>
                </div>
            </div>

            <a href="#" class="link-btn btn4" id="surgery">
                <label class="number">04</label>
                <label>Fix surgery</label>
            </a>
            <div class="detail-block hide-block" id="surgery-block">
                <div class="detail-contents">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img4.jpeg" alt="">
                    <h3>Fix surgery</h3>
                    <p>Here patient can book surgery. Date and time is provided accordingly</p>
                </div>
            </div>

            <a href="#" class="link-btn btn5" id="estimates">
                <label class="number">05</label>
                <label>Hospital sent estimates</label>
            </a>
            <div class="detail-block hide-block" id="estimates-block">
                <div class="detail-contents">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img5.jpg" alt="">
                    <h3>Hospital sent estimates</h3>
                    <p>A cost estimate for the surgery is provided to the patient, informing how much needs to be paid.
                    </p>
                </div>
            </div>

            <a href="#" class="link-btn btn6" id="payment">
                <label class="number">06</label>
                <label>Payment</label>
            </a>
            <div class="detail-block hide-block" id="payment-block">
                <div class="detail-contents">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img6.jpg" alt="">
                    <h3>Payment</h3>
                    <p>The patient needs to pay the estimated bill to commence the surgery.</p>
                </div>
            </div>

            <a href="#" class="link-btn btn7" id="completed">
                <label class="number">07</label>
                <label>Surgery Completed</label>
            </a>
            <div class="detail-block hide-block" id="completed-block">
                <div class="detail-contents">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img7.jpeg" alt="">
                    <h3>Surgery Completed</h3>
                    <p>Post surgery care is provided to the patient to accelerate healing process.</p>
                </div>
            </div>
        </div>
    </div>
    <section id="sec4">
        <div class="dark-blue-container">
            <div class="doctors">
                <h2>World class expert doctors!</h2>
                <p>The University of Texas Southwestern Medical Center has long been a
                    world renowned research hospital. But until the '80s, you couldn't go there.
                    Now, with the addition of the Aston center and Zale Lipshy hospital, UT Southwestern
                    is also a mecca for patient care.
                </p>
                <div class="doc-grid">
                    <div class="doc-details">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--002.jpg"
                            alt="">
                        <h4 class="name">Duke Sanson</h4>
                        <ul>
                            <li>Neuro Surgeon</li>
                            <li>Chain Department of Neurological Surgery</li>
                            <li>Australia</li>
                        </ul>
                    </div>
                    <div class="doc-details">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--004.jpg"
                            alt="">
                        <h4 class="name">Georgia Peter</h4>
                        <ul>
                            <li>Breast Cancer surgeon</li>
                            <li>Director, UT Southwest</li>
                            <li>London</li>
                        </ul>
                    </div>
                    <div class="doc-details">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--005.jpg"
                            alt="">
                        <h4 class="name">Charlie Moon</h4>
                        <ul>
                            <li>Cardiac Surgeon</li>
                            <li>MBBS, MD, FRCP, MRCP, Fellowship</li>
                            <li>New Delhi, India</li>
                        </ul>
                    </div>
                    <div class="doc-details">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--003.jpg"
                            alt="">
                        <h4 class="name">Rose Moon</h4>
                        <ul>
                            <li>Plastic Surgeon</li>
                            <li>Department of Plastic and Reconstructive Surgery</li>
                            <li>Dubai</li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>
    <section id="sec5">
        </div>
        <div class="treatment-component">
            <h2>
                Featured Medical Treatment
            </h2>
            <p>
                Join the thousands of others who have exercised their rights to quality healthcare at a price you can
                afford.
            </p>
            <div class="treatment-grid">
                <div class="treatment-wrapper t1">
                    <div class="background"></div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--010.jpg"
                        alt="cancer">
                    <div class="disease">
                        <p>Cancer</p>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatment-wrapper t2">
                    <div class="background"></div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--009.jpg" alt="">
                    <div class="disease">
                        <p>Dentistry</p>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatment-wrapper t3">
                    <div class="background"></div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--008.jpg" alt="">
                    <div class="disease">
                        <p>Orthopedics Surgery</p>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatment-wrapper t4">
                    <div class="background"></div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--011.jpg" alt="">
                    <div class="disease">
                        <p>Cardiology Treatment</p>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatment-wrapper t5">
                    <div class="background"></div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--007.jpg" alt="">
                    <div class="disease">
                        <p>Infertility Treatment</p>
                        <p>50+ Specialists</p>
                    </div>
                </div>
                <div class="treatment-wrapper t6">
                    <div class="background"></div>
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/image--006.jpg" alt="">
                    <div class="disease">
                        <p>Multi Organ Transplant</p>
                        <p>50+ Specialists</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sec6">
        <div class="services-component">
            <h2>
                Exclusive Service
            </h2>
            <p>
                We want you to be comfortable and thus apart from treating your illness,
                we provide you with other services that can ease you.
            </p>
            <div class="service-flex">
                <div class="service-type">
                    <div class="icon-wrapper">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-01.png"
                            alt="">
                    </div>
                    <div class="service-name">
                        TRAVEL
                    </div>
                </div>
                <div class="service-type">
                    <div class="icon-wrapper">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-02.png"
                            alt="">
                    </div>
                    <div class="service-name">
                        FOOD
                    </div>
                </div>
                <div class="service-type">
                    <div class="icon-wrapper">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-03.png"
                            alt="">
                    </div>
                    <div class="service-name">
                        ACCOMMODATION
                    </div>
                </div>
                <div class="service-type">
                    <div class="icon-wrapper">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-07.png"
                            alt="">
                    </div>
                    <div class="service-name">
                        LABS
                    </div>
                </div>
                <div class="service-type">
                    <div class="icon-wrapper">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-10.png"
                            alt="">
                    </div>
                    <div class="service-name">
                        REPORTS
                    </div>
                </div>
                <div class="service-type">
                    <div class="icon-wrapper">
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Icons-06.png"
                            alt="">
                    </div>
                    <div class="service-name">
                        AMBULANCE
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sec7">
        <div class="help">
            <div class="help-desktop">
                <h2>Need Help?</h2>
                <p>Just let us know. We will be happy to assist you</p>
            </div>
            <button onclick="location.href='/submit_your_query'">Submit your enquiry</button>
        </div>
    </section>
    <%- include ('footer')-%>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfvUn8djBeOtewSmzE1zdnxSiTsTjx6pE&callback=initMap"
        type="text/javascript"></script>
    <script src="/accordian-target.js"></script>
    <script>
        async function searchValue(val) {
            const searchPanel = document.getElementById("searchList");
            val = val.toLowerCase().trim();
            const dataArray = [];
            const liArray = document.querySelectorAll(".searchDataValue");
            for (var i = 0; i < liArray.length; i++) {
                dataArray.push(liArray[i].innerHTML);
                liArray[i].parentElement.style.display = "none";
            }
            if (val === "") {
                for (var i = 0; i < liArray.length; i++) {
                    dataArray.push(liArray[i].innerHTML);
                    liArray[i].parentElement.style.display = "none";
                }
                return 0;
            }
            else {
                for (var i = 0; i < liArray.length; i++) {
                    if (liArray[i].innerHTML.startsWith(val)) {
                        liArray[i].parentElement.style.display = "flex"
                    }
                }
            }

        }
        async function loadData(data) {
            var inputSearch = document.querySelector("#specification");
            inputSearch.value = data.firstChild.innerHTML;
            inputSearch.name = data.children[1].innerHTML + "[]";
            const liArray = document.querySelectorAll(".searchDataValue");
            for (var i = 0; i < liArray.length; i++) {
                liArray[i].parentElement.style.display = "none";
            }
        }
        async function loadCity(data) {
            var inputSearch = document.querySelector("#location");
            inputSearch.value = data.firstChild.innerHTML;
            inputSearch.name = data.children[1].innerHTML + "[]";
            const liArray = document.querySelectorAll(".searchCityValue");
            for (var i = 0; i < liArray.length; i++) {
                liArray[i].parentElement.style.display = "none";
            }
        }
        async function searchCity(val) {
            const searchPanel = document.getElementById("cityList");
            val = val.toLowerCase().trim();
            const dataArray = [];
            const liArray = document.querySelectorAll(".searchCityValue");
            for (var i = 0; i < liArray.length; i++) {
                dataArray.push(liArray[i].innerHTML);
                liArray[i].parentElement.style.display = "none";
            }
            if (val === "") {
                for (var i = 0; i < liArray.length; i++) {
                    dataArray.push(liArray[i].innerHTML);
                    liArray[i].parentElement.style.display = "none";
                }
                return 0;
            }
            else {
                for (var i = 0; i < liArray.length; i++) {
                    if (liArray[i].innerHTML.startsWith(val)) {
                        liArray[i].parentElement.style.display = "flex"
                    }
                }
            }

        }

        $(function () {
            $('#loction').autocomplete({
                source: function (req, res) {
                    $.ajax({
                        url: "/autocomplete",
                        dataType: "jsonp",
                        type: "GET",
                        data: req,
                        success: function (data) {
                            res(data);
                        },
                        error: function (err) {
                            console.log("Error", err);
                        }
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    if (ui.item) {
                        $('#location').text(ui.item.label);
                    }
                }
            });
        });

        function findCity(param) {
            param.classList.toggle("colorchanger");
            let http = new XMLHttpRequest();
            let url = 'https://geolocation-db.com/json/697de680-a737-11ea-9820-af05f4014d91';
            http.open("GET", url, true);
            http.onload = async (e) => {
                let response = JSON.parse(http.response);
                param.parentElement.querySelector("input").value = response.city.toLowerCase()
                param.classList.toggle("colorchanger");
                param.style.color = "#0173b2";
            }
            http.onprogress = (e) => {
                console.log(e);
            }
            http.send();
        }
    </script>
</body>

</html>